.home {
  text-align: center;
}

#myVideo {
  position:relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  text-align: center;
  position:fixed;
  bottom: 0;
  
  color: #f1f1f1;
  width: 100%;
  padding: 430px;
}

