.chat__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  border-bottom: 1px solid lightgrey;
  background-color: whitesmoke;
}
.chat__image {
  height: 100px !important;
  width: 100px !important;
  cursor: pointer;
}

.chat__details {
  flex: 1;
}

h1 {
  text-align: left;
  margin-top: -1em;
  margin-left: 1em;
  font-size: 2em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
h2 {
  font-size: 0.5em;
  margin-left: 4em;
  color: grey;
  cursor: pointer;
}
p {
  font-size: 0.8em;
  margin-left: 2.5em;
  color: black;
  cursor: pointer;
}
