.swipeButtons {
  /* position:fixed; */
  display: flex;
  position: relative;
  margin: 50px 180px;
  max-height: 100px;

  /* margin-bottom: 10px; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* border-top: 1px solid rgb(237, 237, 237); */
  /* ! */
}
.logo {
  width: 200px;
}

.repeat {
  color: red;
  padding: 3vw;
}
.swipeButtons__lightning {
  color: white !important;
  padding: 3vw;
}
