.Card {
  position: relative;
  background-color: #fff;
  width: 600px;
  /* padding: 20px; */
  max-width: 85vw;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
  /* height: 50vh; */
  /* object-fit: cover; */
  width: 500px;
  height: 600px;
  max-width: 450px;
  max-height: 600px;
  margin: 0px 10px 30px 10px;
  border: 1px rgb(255, 255, 255) solid;
  background-size: cover;
  background-position: center;
  /* align-items: center;
  text-align:center; */
}

.Cards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}
.cardContent {
  width: 50%;
  height: 50%;
}
h3 {
  text-align: right;
  bottom: 0;
  margin: 20px;
  color: white;
}
